/* General Styles */
/* General Reset */



/* For testing purpose - adds space below the navbar */
#main_image {
    margin-top: 60px;
    /* background-iamge: url() */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main_title {
    font-family: "Ethnocentric";
}

#first_look #front_picture img {
    margin-top: -10vh;
    width: 100vw;
    max-height: 100vh;
    filter: blur(3px);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-family: 'Ethnocentric';
    text-shadow: 0px 0px 20px #e5e1e1;
}

#description {

    margin: 10vh 10vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

#description #group_photo_container {
    width: 30%;
}

#description #group_photo_container img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.56);
}

#description #desc_text {
    width: 60%;
    text-align: justify;
}

#desc_germ.visible,
#desc_eng.visible {
    display: block;
    /* Show when the visible class is added */
}

#description #desc_germ {
    display: block;
}

#description #desc_eng {
    display: none;
}

#description button {
    background: none;
    color: inherit;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 7px;
}



/* Carousel container */
/* Carousel container */
#carousel-container {
    position: relative;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(76, 164, 231,0.4);
    padding: 10vh;
}

#project_team {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: auto;
}

#first_bunch,
#second_bunch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;
    width: 100%;
    transition: transform 0.5s ease;
    /* Smooth animation for sliding */
}

.member {
    text-align: center;
    margin: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 17vw;;
}

.member img{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.member #name {
    font-weight: bold;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    color: rgb(67, 67, 67);
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-btn:disabled {
    background-color: transparent;
    visibility: hidden;
    cursor: not-allowed;
}

.carousel-btn:not(:disabled):hover {
    background-color: transparent;
    color: black;
}

