@font-face {
    font-family: 'Ethnocentric';
    src: url('ethnocentric\ rg.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(239, 237, 237);
    display: flex;
    flex-direction: column; /* Flexbox for the body */
    min-height: 100vh;
}


/* Navbar Styles */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.brand-name {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    font-family: "Ethnocentric";
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}

.navbar-right a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar-right a:hover {
    color: #f39c12;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    overflow: hidden;
    flex-direction: column;
    min-width: 180px;
    margin-top: 20px;

}

.dropdown-menu a {
    padding: 10px;
    text-align: left;
    display: block;
    color: white;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #555;
}

/* Show the dropdown */
.dropdown.open .dropdown-menu {
    display: flex;
}


main {
    flex: 1;
    margin: 20px 0;
    margin-top: 60px;
    width: 100%;
    text-align: left;
    line-height: 1.6;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

footer img{
    max-height: 40px;
}