#spons_cont{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#spons_cont #thanks {
    padding: 20px 0px;
    color: rgb(42, 42, 42);
    font-size: 1.3vw;
}

#logos {
    display: grid;
    grid-template-areas:
        "knapp lapp" 
        "igus maedler"
        "weidm weidm";
    grid-template-columns: 1fr 1fr;

    gap: 20px; /* Space between grid items */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    max-width: 70vw; /* Optional: Limit container width */
    margin: 0 auto; /* Center container on the page */
    padding: 20px;
}

#logos a {
    width: 100%; /* Ensure grid areas are fully filled */
    height: auto; /* Keep proportional height */
    display: flex; /* Flexbox for inner content alignment */
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
}

#logos img {
    max-width: 80%;
    height: auto;
    max-height: 100px; /* Optional: Limit the height of logos */
    object-fit: contain; /* Ensure the image scales proportionally */
    padding: 10px;
}

#spons_cont #logos #igus {
    grid-area: igus;
}

#spons_cont #logos #maedler {
    grid-area: maedler;
}

#spons_cont #logos #knapp {
    grid-area: knapp;
    max-width: 70%;
}

#spons_cont #logos #lapp {
    grid-area: lapp;
    max-width: 80%;
}

#spons_cont #logos #weidmueller {
    grid-area: weidm;
    max-width: 70%;
}

@media screen and (max-width: 481px) {

    #spons_cont #thanks {
        font-size: 2.7vw;
        text-align: center;
        padding: 5vw;
    }

    #logos {
        display: flex; /* Flexbox für ein Spaltenlayout */
        flex-direction: column; /* Elemente vertikal anordnen */
        gap: 20px; /* Abstand zwischen den Logos */
        align-items: center; /* Zentriere die Logos */
    }

    #logos img {
        max-width: 70vw;
        padding: 3vh;
    }

    #logos a {
        display: flex; /* Flexbox für inneres Alignment */
        justify-content: center;
        align-items: center;
        width: 100%; /* Logos nehmen volle Breite ein */
    }
}