# LaTeX compiled files
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.gz
*.nav
*.snm
*.vrb
*.xml
*.bcf
*.synctex
*.synctex(busy)
Diplomarbeit_AFSS.pdf


# Build directories
_build/
out/